HOST_NAME="example.herokuapp.com"

DATABASE_CONNECTION_STRING="mongodb://example.com:27017"

TWITCH_CLIENT_ID="client-id"
TWITCH_CLIENT_SECRET="client-secret"
TWITCH_SUBSCRIPTION_SECRET="event-sub-secret"

TELEGRAM_BOT_TOKEN="telegram-token"